<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
</head>
<body>
<h2>Edit user</h2>
<br>
<form th:method="PATCH" th:action="@{/admin/{username}(username=${user.getUsername()})}" th:object="${user}">
  <label>change user details:</label>
  <br/>
  <label for="username">Enter username:</label>
  <input type="text" th:field="*{username}" id="username"/>
  <br/>
  <label for="name">Enter name:</label>
  <input type="text" th:field="*{name}" id="name"/>

  <br/>
  <label for="lastname">Enter lastname:</label>
  <input type="text" th:field="*{lastname}" id="lastname"/>

  <br/>
  <label for="age">Enter age:</label>
  <input type="number" th:field="*{age}" id="age"/>

  <br/>
  <label for="email">Enter email:</label>
  <input type="email" th:field="*{email}" id="email"/>

  <br/>
  <label for="password">Enter password:</label>
  <input type="text" th:field="*{password}" id="password"/>
  <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
  <br/>
  <label for="roles">Enter roles:</label>
  <br/>
  <p><input type="checkbox" name="roles" id="roles"
            th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"
            th:field="*{roles}"></p>

  <br/>
  <br/>
  <input type="submit" value="Apply Changes"/>
</form>
</body>
</html>