<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login pages</title>
</head>
<body>
<a th:if="${param.error}">Invalid username or password</a>
<h3>
  <form th:action="@{/login}" method="post">
    <h2>Вход в систему</h2>
    <label>Username: <input type="text" name="username"/></label>
    <label>Password: <input type="password" name="password"/></label>
    <input type="submit" value="Sign in">
  </form>
</h3>
</body>
</html>